[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "eadrm"]
	path = eadrm
	url = https://github.com/cran/eadrm
[submodule "mhazard"]
	path = mhazard
	url = https://github.com/cran/mhazard
